body {
  background-color: #450920;
  align-content: center;
}
* {
  box-sizing: border-box;
}
canvas {
  background: #f0f0f0;
  display: grid;
  border-radius: 5px;
  margin: 45px 30px 25px 70px;
  width: 90%;
  height: 90vh;
}
